*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 48px;
}