*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    width: 67%;
}
h1{
    font-size: 48px;
}
p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding: 5px 0px 5px 0px;
}
.first-p, h1{
    width: 58%;
}
.first-p p{
    width: 80%;
}
.first-p{
    display: flex;
}
.first-p img{
    width: 40px;
    height: 15px;
    margin: 0px 4px 0px 0px;
}
.img-post{
    display: flex;
    height: 600px;
}
.img-post img{
    height: 100%;
}